{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <style>
        .main {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 100px;
        }

        .line {
            border: 1px solid;
            width: 90%;
            color: grey;
        }

        .left {
            background-color: azure;
            padding: 50px;
            box-shadow: 1px 5px 7px;
            margin: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            button{
                padding: 10px;
                background-color: green;
                color: aliceblue;
                border: none;
                width: 70%;
                cursor: pointer;
            }
        }

        .left form {
            display: flex;
            gap: 30px;
            padding-bottom: 30px;
            input{
                width: 300px;
                padding: 10px;
                border-radius: 10px;
                outline: none;
            }
        }

        .left-fields, .right-fields {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .right {
            background-color: azure;
            padding: 50px;
            box-shadow: 1px 5px 7px;
            margin: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .right a {
            text-decoration: none;
            border: 1px solid;
            padding: 10px;
            padding-left: 37%;
            color: black;
        }

        .product {
            display: flex;
            justify-content: space-between;
            img{
                width: 30px;
                height: 30px;
                object-fit: cover;
            }
            p{
                padding-left: 20px;
            }
        }

        span {
            font-weight: 100;
        }
        h2{
            padding-bottom: 50px;
        }
        .payment{
            
            background-color: bisque;
            padding: 15px;
            align-items: center;
            padding-left: 40%;
            border-radius: 10px;
        }
    </style>
    <div class="main">
        <div class="left">
            <div class="user-info" id="user">
                <form id="form" action="">
                    <input type="text" placeholder="Name..." name="name">
                    <input type="text" placeholder="Email..." name="email">
                </form>
            </div>
            <div class="line"></div>
            <div id="shipping-info">
                <h2>Shipping Information</h2>
                <form id="form" action="">
                    <div class="left-fields">
                        <input type="text" placeholder="Address..." name="address">
                        <input type="text" placeholder="State..." name="state">
                        <input type="text" placeholder="Zip code..." name="zipcode">
                    </div>
                    <div class="right-fields">
                        <input type="text" placeholder="City..." name="city">
                        <input type="text" placeholder="Zip code..." name="zipcode">
                    </div>
                </form>
                <button id="form-btn">Continue</button>
            </div>
        </div>
        <div class="right">
            <a href="{% url 'cart' %}">Back to cart</a>
            <h1>Order Summary</h1>
            <div class="line"></div>

            
                {% for item in items %}
                    <div class="product">
                        <img src="{{ item.product.imageURL }}" alt="{{ item.product.name }}">
                        <p>{{ item.product.name }}</p>
                        <p>Quantity: {{ item.quantity }}</p>
                        <p>Price: ${{ item.get_total|floatformat:2 }}</p>
                    </div>
                {% endfor %}

                <h3>Item Quantity: <span>{{ order.get_cart_quantity }}</span></h3>
                <h3>Total: <span>$ {{ order.get_cart_total|floatformat:2 }}</span></h3>
            
        </div>
    </div>
    <script>
        var shipping = '{{order.shipping}}'
        var total = '{{order.get_cart_total}}'

        if (shipping == 'False'){
            document.getElementById('shipping-info').innerHTML = '';
        }

        if (user != 'AnonymousUser'){
            document.getElementById('user').innerHTML = '';
        }

        document.getElementById('form-btn').addEventListener('click', function(e){
            e.preventDefault()
            submitFormData();
        })

        function submitFormData(){
            console.log("payment button is clicked")

            var ShippingInfo = {
                'address':null,
                'state':null,
                'city':null,
                'zipcode':null,
            }

            var userFormData = {
                'name':null,
                'email':null,
                'total':total,
            }

            if (shipping != 'False'){
                ShippingInfo.address = form.address.value
                ShippingInfo.state = form.state.value
                ShippingInfo.city = form.city.value
                ShippingInfo.zipcode = form.zipcode.value
            }

            if (user == 'AnonymousUser'){
                userFormData.name = form.name.value
                userFormData.email = form.email.value
            }

            var url = '/process_order/'

            fetch(url, {
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken':csrftoken,
                },
                body:JSON.stringify({'form':userFormData, 'shipping':ShippingInfo}),
            })
            .then((response) =>response.json())
            .then((data) =>{
                console.log('Success: ', data)
                alert("Order placed Successfully..!!")
                window.location.href = "{% url 'store' %}"
            })
        }
    </script>
{% endblock %}
